
.milk-404 {
  max-height: 100vh;
}

#mouth-frown {
  visibility: hidden;
}


.tipo_letra{
    font-style: italic;
    color: blue;
}

.naranja{
    color: orange;
}

.fondo{
    background-color: gray;
}

#formulario{
    border: 1px solid gainsboro;
    padding: 2%;
}

/*
.tamaño-img{
    width: 30%;
    height: 150px;
    background-color: whitesmoke; 
}*/

.footer{
    text-align: center;
}

.contenedor{
    width: 50%;
    margin-left: 329px;
}






